<div class="container">
    <div class="row">
        <div class="col xs12" *ngFor="let article of articles">
            <mat-card class="size-card">
                <mat-card-header>
                    <mat-card-title> {{article.nom}} </mat-card-title>
                    <mat-card-subtitle>{{article.prix}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{article.description}}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <table id="customers">
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>description</th>
                <th>prix</th>
                <th>remise</th>
                <th>stock</th>
            </tr>

            <tr *ngFor="let article of articles">
                <td>{{ article.id }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.remise }}</td>
                <td>{{ article.stock }}</td>
            </tr>
        </table>
    </div>
</div> -->