mat-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.iconAdd {
    margin-bottom: 20px;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}