<div class="containe">
    <div class="row">
        <div class="col xs12">
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>My App</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>count</mat-icon>
                    <span>User</span>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </mat-toolbar>
        </div>
    </div>
</div>  
<app-sidenav></app-sidenav>

